<!doctype html>
	<head>
		<meta charset="utf-8">
		<title>
			Eos Remote
        </title>
        <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body id="body">
        <div class="page-wrapper">
            <div id="login" class="modal">
                <div class="modal-content">
                    <span class="modal-content">
                        <p class="modal-content" style="margin:auto; width: 100%; text-align: center;">Please Enter your UVID</p>
                    </span>
                    <span class="modal-content">
                        <input type="text" id="textBox" placeholder="UVID" class="modal-content">
                        <input type="button" class="modal-content"" id="signin" value="Sign In" style="margin: auto; width:9%" >
                    </span>
                </div>
            </div>
        </div>
    </body>
    <script src="SignIn.js"></script>
</html>