.cls-1,.cls-2,.cls-3{
    fill:#fff;
}

.cls-1,.cls-2,.cls-3,.cls-4,.cls-5{
    stroke:#000;
}

.cls-1,.cls-2,.cls-4{
    stroke-linecap:round;
    stroke-linejoin:round;
}

.cls-1,.cls-4{
    stroke-width:0.71px;
}

.cls-2,.cls-3{
    stroke-width:0.71px;
}

.cls-3,.cls-5{
    stroke-miterlimit:10;
}

.cls-4,.cls-5{
    fill:none;
}                        